/* extra styling */

.bold-title {
  font-weight: 400;
  color: lightcyan;
}
.card-header {
  font-size: large;
}
.middle {
  margin-right: 50px !important;
  margin-left: 50px !important;
}

.card-color {
    background-color: aliceblue;
}

.alert.hide{
  display: none;
}
.alert.show{
  display: block;
}